body
{
    background:#1e6096;
    font: normal 15pt Arial;
}

p
{
    margin: 4px;
}

header,
footer
{
    color: #FFFFFF;
    text-align: center;
}

section
{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer
{
    font-style: italic;
}

img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 125px;
}

div
{
    text-align: center;
    padding: 8px;
}
